# API

#### Application Programming Interface

Api is a data pipeline between two applications.

In [1]:
import pandas as pd
import requests

In [3]:
# Response 200 is OK
response = requests.get('https://api.apis.guru/v2/list.json')

In [14]:
temp_df = pd.DataFrame(response.json()['1forge.com']).head(2)[['added','preferred']]

In [15]:
temp_df

                          added preferred
0.0.1  2017-05-30T08:34:14.000Z     0.0.1

In [13]:
# empty dataframe
df = pd.DataFrame()

In [16]:
df

Empty DataFrame
Columns: []
Index: []

In [17]:
# if you ave multiple pages

# for i in range(1,429):
#     response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
#     temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
#     df = df.append(temp_df,ignore_index=True)




# https://rapidapi.com/collection/list-of-free-apis

In [ ]:
df.shape()

df.to_csv('movies.csv')