In [5]:
import spacy

In [6]:
nlp = spacy.blank("en")

para = "Apple is looking at buying U.K. startup for $1 billion. Dr. Strange is a good movie."
doc = nlp(para)

for token in doc:
    print(token)

Apple
is
looking
at
buying
U.K.
startup
for
$
1
billion
.
Dr.
Strange
is
a
good
movie
.

In [7]:
doc[-1]

.

In [8]:
doc = nlp("'Let's go to N.Y.!'")
for token in doc:
    print(token)

'
Let
's
go
to
N.Y.
!
'

In [9]:
type(nlp)

spacy.lang.en.English

In [10]:
type(doc)

spacy.tokens.doc.Doc

In [11]:
type(token)

spacy.tokens.token.Token

In [12]:
doc = nlp("Tony gave two $ to Peter.")

In [13]:
token0 = doc[0]
token0

Tony

In [14]:
#dir(token0)

In [15]:
token0.is_alpha

True

In [16]:
token0.like_num

False

In [17]:
token2 = doc[2]
token2

two

In [18]:
token2.like_num

True

In [19]:
for token in doc:
    print(token, "==>", "index: ", token.i,
          "is_alpha:", token.is_alpha,
          "is_punct:", token.is_punct,
          "like_num:", token.like_num,
          "is_currency:", token.is_currency)

Tony ==> index:  0 is_alpha: True is_punct: False like_num: False is_currency: False
gave ==> index:  1 is_alpha: True is_punct: False like_num: False is_currency: False
two ==> index:  2 is_alpha: True is_punct: False like_num: True is_currency: False
$ ==> index:  3 is_alpha: False is_punct: False like_num: False is_currency: True
to ==> index:  4 is_alpha: True is_punct: False like_num: False is_currency: False
Peter ==> index:  5 is_alpha: True is_punct: False like_num: False is_currency: False
. ==> index:  6 is_alpha: False is_punct: True like_num: False is_currency: False

- Load the students dataset

In [20]:
with open("./datasets/students.txt") as f:
    text = f.readlines()

text

['ABC High School Students Data\n',
 '\n',
 '=========================================================\n',
 '\n',
 'Name               Birth Date        Email  \n',
 '\n',
 'John Smith        2007-04-15        john.smith@email.com  \n',
 'Emma Johnson      2006-08-22        emma.johnson@email.com  \n',
 'Liam Brown        2008-02-10        liam.brown@email.com  \n',
 'Olivia Williams   2007-11-30        olivia.williams@email.com  \n',
 'Noah Jones        2006-06-25        noah.jones@email.com  \n',
 'Ava Davis         2008-01-14        ava.davis@email.com  \n',
 'William Miller    2007-09-05        william.miller@email.com  \n',
 'Sophia Wilson     2006-12-18        sophia.wilson@email.com  \n',
 'James Anderson    2008-03-21        james.anderson@email.com  \n',
 'Mia Thomas        2007-07-09        mia.thomas@email.com  \n']

In [21]:
# convert to one single string
text = " ".join(text)
text

'ABC High School Students Data\n \n =========================================================\n \n Name               Birth Date        Email  \n \n John Smith        2007-04-15        john.smith@email.com  \n Emma Johnson      2006-08-22        emma.johnson@email.com  \n Liam Brown        2008-02-10        liam.brown@email.com  \n Olivia Williams   2007-11-30        olivia.williams@email.com  \n Noah Jones        2006-06-25        noah.jones@email.com  \n Ava Davis         2008-01-14        ava.davis@email.com  \n William Miller    2007-09-05        william.miller@email.com  \n Sophia Wilson     2006-12-18        sophia.wilson@email.com  \n James Anderson    2008-03-21        james.anderson@email.com  \n Mia Thomas        2007-07-09        mia.thomas@email.com  \n'

In [22]:
doc = nlp(text)

emails = []
for token in doc:
    if token.like_email:
        emails.append(token.text)

emails

['john.smith@email.com',
 'emma.johnson@email.com',
 'liam.brown@email.com',
 'olivia.williams@email.com',
 'noah.jones@email.com',
 'ava.davis@email.com',
 'william.miller@email.com',
 'sophia.wilson@email.com',
 'james.anderson@email.com',
 'mia.thomas@email.com']

In [24]:
doc = nlp("gimme double cheese extra large burger")

tokens = [token.text for token in doc]
tokens

['gimme', 'double', 'cheese', 'extra', 'large', 'burger']

In [25]:
# cutomizing the spacy model
from spacy.symbols import ORTH

nlp.tokenizer.add_special_case("gimme", [
    {ORTH: "gim"},
    {ORTH: "me"}
])

doc = nlp("gimme double cheese extra large burger")

tokens = [token.text for token in doc]
tokens

['gim', 'me', 'double', 'cheese', 'extra', 'large', 'burger']