## **Matplotlib**

- Line Plot
- Scatter Plot
- Histograms
- Scale Transform
- Labels/Ticks/Sizes/Colors

## Line Plot

```python
import matplotlib.pyplot as plt
plt.show(x,y) 
plt.show()
```

In [1]:
# loading the libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# loading dataset
data = pd.read_csv('gapminder_tidy.csv')
df = data.copy()
df.head()

,Country,Year,fertility,life,population,child_mortality,gdp,gdp-1,region
0,Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,1182.0,South Asia
1,Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,1168.0,South Asia
2,Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,1173.0,South Asia
3,Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,1187.0,South Asia
4,Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,1178.0,South Asia

In [3]:
df.columns

Index(['Country', 'Year', 'fertility', 'life', 'population', 'child_mortality',
       'gdp', 'gdp-1', 'region'],
      dtype='object')