In [1]:
# import libraries and data
import pandas as pd
df = pd.read_csv('../assets/mldata.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

In [2]:
df['gender'] = df['gender'].replace("Male",1)
df['gender'] = df['gender'].replace("Female",0)

In [5]:
df.head()

   age  weight  gender likeness   height
0   27    76.0       1  Biryani  170.688
1   41    70.0       1  Biryani      165
2   29    80.0       1  Biryani      171
3   27   102.0       1  Biryani      173
4   29    67.0       1  Biryani      164

In [6]:
# selection of input and output variables
X = df[['weight','gender']]
y = df['likeness']

In [8]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [11]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [12]:
# Machine Learning Algorithm
from sklearn.tree import DecisionTreeClassifier

# create and fit our model
model = DecisionTreeClassifier().fit(X,y)

In [20]:
# Prediction
model.predict([[56,0]])

C:\Users\Uzair Afridi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)