In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('PlayTennis.csv')
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [3]:
df.shape

(14, 5)

# Problem 1 

## outlook=sunny, temp=hot, humidity=high, wind=False
## Play or No Play

# Solution
### P(Yes | sunny,hot,high,false) = P(sunny | yes) * P(hot | yes) * P(high | yes) * P(false | yes)
### P(no | sunny,hot,high,false) = P(sunny | no) * P(hot | no) * P(high | no) * P(false | no)

## Compare and decide using the maximum a posteriori

# Problem 2

### outlook=overcast, temp=cold, humidity=low, wind=false
### play or no play

# Solution
### P(Yes | overcast,cold,low,false) = P(overcast | yes) * P(cold | yes) * P(low | yes) * P(false | yes)
### P(no | overcast,cold,low,false) = P(overcast | no) * P(cold | no) * P(low | no) * P(false | no)

## Compare and decide using the maximum a posteriori rule

In [13]:
df['play'].value_counts()

play
yes    9
no     5
Name: count, dtype: int64

In [16]:
Py=9/14
Pn=5/14

In [18]:
print(Py)
print(Pn)

0.6428571428571429
0.35714285714285715

In [4]:
# outlook

pd.crosstab(df['outlook'],df['play'])

play      no  yes
outlook
overcast   0    4
rainy      2    3
sunny      3    2

In [5]:
Pon=0
Prn=2/5
Psn=3/5

Poy=4/9
Pry=3/9
Psy=2/9

In [6]:
# temp

pd.crosstab(df['temp'],df['play'])

play  no  yes
temp
cool   1    3
hot    2    2
mild   2    4

In [7]:
PCoolNo=1/5
PHotNo=2/5
PMildNo=2/5

PCoolYes=3/9
PHotYes=2/9
PmildYes=4/9

In [8]:
# humidity

pd.crosstab(df['humidity'],df['play'])

play      no  yes
humidity
high       4    3
normal     1    6

In [9]:
PHighNo=4/5
PNormalNo=1/5

PHighYes=3/9
PNormalYes=6/9

In [11]:
# wind

pd.crosstab(df['windy'],df['play'])

play   no  yes
windy
False   2    6
True    3    3

In [12]:
PFalseWindNo=2/5
PTrueWindNo=3/5

PFalseWindYes=6/9
PTrueWindYes=3/9

In [20]:
## outlook=sunny, temp=hot, humidity=high, wind=False
## Play or No Play

Pyes=Py*Psy*PHotYes*PHighYes*PFalseWindYes
print(Pyes)

0.007054673721340388

In [21]:
Pno=Pn*Psn*PHotNo*PHighNo*PFalseWindNo
print(Pno)

0.02742857142857143

In [22]:
# no probability is greater than yes
# so No Play